/* Stylizacja ogólna dla postów */
.post, .new-post {
    position: relative;
    display: flex;
    /* width: 75%; */
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 15px;
    margin: 0 auto 15px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: 0.3s;
}

.post:hover, .new-post:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Stylizacja dla kontenera autora */
.author_container {
    display: flex;
    flex-direction: column;
}

.author_container img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;  /* Tworzy okrągły avatar */
}

.author_container p {
    margin: 0;
}

.likes-container {
    text-align: center;
    position: relative;
    transition: transform 0.3s;
}

.likes-container:hover {
    transform: scale(0.9); /* pomniejszenie o 10% podczas najechania */
    cursor: pointer
}

#heart-image {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Stylizacja dla kontenera komentarza */
.comment_container {
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.likes-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
}

.comment_container p {
    margin: 0;
    padding-left: 65px;  /* Tak samo jak szerokość obrazka + odstęp, aby tekst nie nachodził na obrazek */
}

/* Stylizacja paginacji */
.pagination {
    justify-content: center;
}

.pagination li a {
    color: #333;
}

.pagination li.active a {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.pagination li.disabled a {
    color: #aaa;
    pointer-events: none;
}

.textara_field {
    border: 1px solid;
    border-color: #007bff;
    min-height: 100%;
    width: 90%;
    border: none;
    background-color: #ebf5ff;
    height: 148px;
}

.textara_field:focus {
   
    outline: none;
}

.edit_btn{
    position: absolute;
    bottom: 0;
    right: 10px;
}

.edit_btn, .follow-btn {
    background-color: #007BFF;
    width: 90px;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;
}

.edit_btn:hover, .follow-btn:hover {
    background-color: #0056b3;  /* Kolor tła przy najechaniu */
    color: #FFF;                /* Kolor tekstu przy najechaniu (bez zmian) */
}

.edit_btn:active, .follow-btn:active {
    transform: scale(0.98);     /* Lekkie "wciśnięcie" przycisku podczas klikania */
}

.edit_btn:focus, .follow-btn:focus {
    outline: none;              /* Usunięcie domyślnej ramki podczas fokusowania */
    box-shadow: 0 0 5px #007BFF; /* Dodanie cienia wokół przycisku podczas fokusowania */
}

/* pforile elements */

.main-body-container{
    display: flex;
}

#posts{
    flex: 1;

}

/* followers */
.follow-title{
    margin-bottom: 0;
}

.follower img, .following img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#followers_container{
    min-width: 250px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 10px 0 50px;
    font-weight: 500;
}

.follower-list-container, .following-list-container {
    max-height: 150px;
    max-width: 200px;
    overflow-y: auto;
    margin-bottom: 30px;
}

/* comments */

.comment-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px; /* odstępy między komentarzami */
}

.users-comment, .others-comment {
    max-width: 60%; /* szerokość komentarza */
    padding: 10px; /* wewnętrzne marginesy */
    border-radius: 15px; /* zaokrąglenie rożków */
    font-size: 14px; /* wielkość czcionki */
    line-height: 1.5; /* odstępy między liniami tekstu */
    position: relative; /* potrzebne dla dalszego pozycjonowania */
}

.users-comment {
    align-self: flex-end; /* wyrównanie komentarzy użytkownika do prawej strony */
    background-color: #E9E9E9; /* kolor tła komentarza użytkownika */
}

.others-comment {
    align-self: flex-start; /* wyrównanie komentarzy innych osób do lewej strony */
    background-color: #D1E9FB; /* kolor tła komentarza innych osób */
}